<script setup lang="ts">
import { useEventOnDocument } from "./composables/useEventOnDocument";

// useEvent("click", () => console.log("Click!"));
useEventOnDocument("click", () => console.log("Click!"));
</script>

<template>
  <div class="square" />
</template>

<style scoped>
.square {
  width: 200px;
  height: 200px;
  background-color: rebeccapurple;
  cursor: pointer;
}
</style>
